{%- comment -%}
// SPDX-License-Identifier: GPL-3.0-only
/*
    Current User Information Helper Theme
    osi4kjb-currentuser-theme 0.0.1
    Copyright (C) 2022 Jason Go
    
    This file is part of osi4kjb-currentuser-theme.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, version 3 of the License only.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <https://www.gnu.org/licenses/>.
*/
{%- endcomment -%}


<html>
    <head>
    </head>
    <body>
    <h1>The editor preview is not yet implemented...</h1>
    {{- section_html -}}
    </body>
</html>
